body {
    background-color: #DAA520;
}

.div1 {
    width:365px ;
    height:365px ;
    margin-left: 32px;
    margin-top: 32px;
    border-radius: 12px;
    border: 1px solid #297E40;
    background-color: #297E40;
}

.div2 {
    width:365px ;
    height:365px ;
    margin-left:429px;
    border-radius: 90px;
    border: 1px solid #8E2877;
    background-color: #8E2877;
    
}

.div3 {
    width:365px ;
    height:365px ;
    margin-left:429px;
    border-radius: 20px;
    border: 1px solid #361BA4;
    background-color: #361BA4;
    
}